* {
    margin: 0;
    padding: 0;
}

/* transition: 0.4s all;
border-radius: 10px;

&:hover {
    transform: scale(1.05);
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 10%);
} */


@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Black.ttf');
}
@font-face {
    font-family: 'Roboto-light';
    src: url('../fonts/Roboto-Light.ttf');
}
@font-face {
    font-family: 'Roboto-normal';
    src: url('../fonts/Roboto-Regular.ttf');
}
::selection {
    background: #8f9caa;
    color: white;
}

body {
    height: max-content;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto-Normal';

    main {
        .title-block {
            width: 600px;
            margin: 40px 0 0 85px;
            color: #0A121E;
            font-family: 'Roboto-light';


            .title__cap {
                text-transform: uppercase;
                margin: 10px;
            }

            .title__subtitle {
                font-size: 72px;
                line-height: 76px;
            }

            .title__text {
                margin-top: 25px;
                margin-bottom: -10px;
                width: 535px;
                line-height: 32px;
            }
            .title-block__actions {
                margin-top: 25px;
                display: flex;
                .actions__button {
                    box-sizing: border-box;
                    border-radius: 4px;
                    cursor: pointer;
                    padding: 15px;
                    margin: 0 20px 0 0;
                    outline: none;
                    font-size: 12px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-family: 'Roboto-Light';
                    letter-spacing: 0.6px;
                    text-transform: uppercase;
                    transition: 0.4s all;
                    &:hover {
                        transform: scale(1.05);
                    }
                    .fa-arrow-down {
                        transform: rotate(-45deg);
                        font-size: 16px;
                    }
                }

                .actions__button_blue {
                    background: #1673FF;
                    border: 2px solid #1673FF;
                    color: white;
                    width: 295px;
                    height: 58px;
                }

                .actions__button_white {
                    border: 2px solid rgba(10, 18, 30, 0.2);
                    box-sizing: border-box;
                    border-radius: 4px;
                    background: transparent;
                    width: 233px;
                    height: 58px;
                }
            }
        }
        .main__nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 15px;
            background: #E7F1FB;

            .nav__logo {
                display: flex;
                justify-content: space-between;
                width: 100px;
                cursor: pointer;
                transition: 0.5s all;
                padding: 10px;
                align-items: center;
                border-radius: 10px;
                user-select: none;
                transition: 0.4s all;

                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 10%);
                }
            }
            .nav__group-links {
                width: 740px;
                display: flex;
                justify-content: space-between;

                .nav__link {
                    text-decoration: none;
                    color: #455A74;
                    text-transform: uppercase;
                    width: 161px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    font-size: 12px;
                    margin: 0 10px;
                }
                .nav__link_active {
                    background: rgba(10, 18, 30, 0.7);
                    border-radius: 4px;
                    color: white;
                }
            }
        }
        .main__description-block {
            display: flex;
            padding: 20px;
            box-sizing: border-box;
            background: #E7F1FB;

            .main__social {
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                top: 110px;
                .social__link {
                    color: black;
                    font-size: 1.4em;
                    margin: 10px 0;
                }
            }


            .main__account-preview {
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 643px;
                height: 643px;
                margin-left: 350px;

                .main__circle-svg {
                    position: relative;
                    z-index: 0;
                }

                .main__img {
                    width: 405px;
                    cursor: pointer;
                    position: absolute;
                    z-index: 1;
                    top: 100px;
                    transition: 0.4s all;
                    border-radius: 10px;

                    &:hover {
                        transform: scale(1.05);
                        box-shadow: 0 1px 5px 0 rgb(0 0 0 / 10%);
                    }
                }
            }
        }
        .main__block-about-anonymity {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .main__svg-statistics {
                margin-right: 150px;
            }
        }
        .main__what-blank-does {
            margin-top: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .main__title {
                font-size: 12px;
                text-align: center;
                letter-spacing: 1.2px;
                text-transform: uppercase;
                color: #0A121E;
                font-family: 'Roboto-Light';
            }

            .main__subtitle {
                font-size: 55px;
                color: #0A121E;
                margin-top: 15px;
            }

            .main__recommendations {
                display: flex;
                justify-content: space-between;
                width: 1350px;
                margin-top: 50px;

                .main__recommendation {
                    background: #E7F1FB;
                    width: 392px;
                    height: 440px;
                    margin: 0 10px;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: 0.4s all;
                    padding: 30px;
                    box-sizing: border-box;
                    text-align: center;

                    &:hover {
                        transform: scale(1.05);
                    }

                    .recommendation__svg {
                        margin-top: 30px;
                    }

                    .recommendation__title {
                        font-family: 'Roboto-Light';
                        margin: 30px 0;
                    }
                    .recommendation__text {
                        line-height: 28px;
                        color: #455A74
                    }
                }
            }
        }
        .main__what-extension-gives {
            margin-top: 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 225px;
        }
    }
}
