* {
    margin: 0;
    padding: 0;
}

/* transition: 0.4s all;
border-radius: 10px;

&:hover {
    transform: scale(1.05);
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 10%);
} */


@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Black.ttf');
}
@font-face {
    font-family: 'Roboto-light';
    src: url('../fonts/Roboto-Light.ttf');
}
@font-face {
    font-family: 'Roboto-Normal';
    src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Inter-Normal';
    src: url('../fonts/Inter-VariableFont_slnt\,wght.ttf');
}
::selection {
    background: #8f9caa;
    color: white;
}

body {
    height: max-content;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto-Normal';

    main {
        .title-block {
            width: 600px;
            margin: 40px 0 0 85px;
            color: #0A121E;
            font-family: 'Inter-Normal';
            font-weight: 400;


            .title__cap {
                text-transform: uppercase;
                margin: 10px;
            }

            .title__subtitle {
                font-size: 72px;
                line-height: 76px;
            }

            .title__text {
                margin-top: 25px;
                margin-bottom: -10px;
                width: 535px;
                line-height: 32px;
            }

            .title-block__actions {
                margin-top: 25px;
                display: flex;
                .actions__button {
                    box-sizing: border-box;
                    border-radius: 4px;
                    cursor: pointer;
                    padding: 15px;
                    margin: 0 20px 0 0;
                    outline: none;
                    font-size: 12px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-family: 'Roboto-Light';
                    letter-spacing: 0.6px;
                    text-transform: uppercase;
                    transition: 0.4s all;
                    &:hover {
                        transform: scale(1.05);
                    }
                    .fa-arrow-down {
                        transform: rotate(-45deg);
                        font-size: 16px;
                    }
                }

                .actions__button_blue {
                    background: #1673FF;
                    border: 2px solid #1673FF;
                    color: white;
                    width: 295px;
                    height: 58px;
                }

                .actions__button_white {
                    border: 2px solid rgba(10, 18, 30, 0.2);
                    box-sizing: border-box;
                    border-radius: 4px;
                    background: transparent;
                    width: 233px;
                    height: 58px;
                }
            }

            .title-block__ul {
                margin: 30px 0 0;

                & > li {
                    margin: 15px 15px 15px 0;
                    list-style: none;
                    font-family: 'Inter-Normal';

                    &::before {
                        content: "✔";
                        margin-right: 10px;
                        width: 5px;
                        height: 5px;
                        color: #1673FF;
                    }
                }
            }
        }
        .main__nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 15px;
            background: #E7F1FB;

            .nav__logo {
                display: flex;
                justify-content: space-between;
                width: 100px;
                cursor: pointer;
                transition: 0.5s all;
                padding: 10px;
                align-items: center;
                border-radius: 10px;
                user-select: none;
                transition: 0.4s all;

                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 10%);
                }
            }
            .nav__group-links {
                width: 740px;
                display: flex;
                justify-content: space-between;

                .nav__link {
                    text-decoration: none;
                    color: #455A74;
                    text-transform: uppercase;
                    width: 161px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    font-size: 12px;
                    margin: 0 10px;
                }
                .nav__link_active {
                    background: rgba(10, 18, 30, 0.7);
                    border-radius: 4px;
                    color: white;
                }
            }
        }
        .main__description-block {
            display: flex;
            padding: 20px;
            box-sizing: border-box;
            background: #E7F1FB;

            .main__social {
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                top: 110px;
                .social__link {
                    color: black;
                    font-size: 1.4em;
                    margin: 10px 0;
                }
            }

            .main__account-preview {
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 643px;
                height: 643px;
                margin-left: 350px;

                .main__circle-svg {
                    position: relative;
                    z-index: 0;
                }

                .description-block__img {
                    width: 405px;
                    cursor: pointer;
                    position: absolute;
                    z-index: 1;
                    top: 100px;
                    transition: 0.4s all;
                    border-radius: 10px;

                    &:hover {
                        transform: scale(1.05);
                        box-shadow: 0 1px 5px 0 rgb(0 0 0 / 10%);
                    }
                }
            }
        }
        .main__block-about-anonymity {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .main__svg-statistics {
                margin-right: 150px;
            }
        }
        .main__what-blank-does {
            margin-top: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .main__title {
                font-size: 12px;
                text-align: center;
                letter-spacing: 1.2px;
                text-transform: uppercase;
                color: #0A121E;
                font-family: 'Roboto-Light';
            }

            .main__subtitle {
                font-size: 55px;
                color: #0A121E;
                margin-top: 15px;
            }

            .main__recommendations {
                display: flex;
                justify-content: space-between;
                width: 1350px;
                margin-top: 50px;

                .main__recommendation {
                    background: #E7F1FB;
                    width: 392px;
                    height: 440px;
                    margin: 0 10px;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: 0.4s all;
                    padding: 30px;
                    box-sizing: border-box;
                    text-align: center;

                    &:hover {
                        transform: scale(1.05);
                    }

                    .recommendation__svg {
                        margin-top: 30px;
                    }

                    .recommendation__title {
                        font-family: 'Roboto-Light';
                        margin: 30px 0;
                    }
                    .recommendation__text {
                        line-height: 28px;
                        color: #455A74
                    }
                }
            }
        }
        .main__what-extension-gives {
            margin-top: 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 225px;
        }
        .main__privacy-by-design {
            margin: 50px 0;
            display: flex;
            justify-content: center;
            align-items: center;

            .privacy-by-design__img {
                margin: 0 100px;
                width: 307px;
                height: 509px;
                cursor: pointer;
                transition: 0.4s all;
                border-radius: 10px;
                box-shadow: 0 1px 5px 0 rgb(0 0 0 / 10%);

                &:hover {
                    transform: scale(1.05);
                }

            }
        }
        .main__block-about-secure {
            @extend .main__privacy-by-design;
            flex-direction: row-reverse;
        }
        .main__banner {
            background: black;
            height: 627px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .banner__title {
                font-size: 12px;
                letter-spacing: 1.2px;
                text-transform: uppercase;
                color: white;
                font-family: 'Roboto-Normal';
            }
            .banner__subtitle {
                font-size: 57px;
                line-height: 68px;
                color: white;
                width: 911px;
                margin-top: 10px;
            }
            .banner__text {
                font-size: 12px;
                line-height: 32px;
                color: #90A3BF;
                font-family: 'Inter-Normal';
                margin-top: 30px;
            }
            .banner__phrase {
                font-size: 18px;
                color: #90A3BF;
                margin-left: 350px;
            }
            .banner__actions {
                display: flex;
                margin-top: 40px;
                .actions__button {
                    box-sizing: border-box;
                    border-radius: 4px;
                    cursor: pointer;
                    padding: 15px;
                    margin: 0 20px 0 0;
                    outline: none;
                    font-size: 12px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-family: 'Roboto-Light';
                    letter-spacing: 0.6px;
                    text-transform: uppercase;
                    transition: 0.4s all;

                    &:hover {
                        transform: scale(1.05);
                    }
                    .fa-arrow-down {
                        transform: rotate(-45deg);
                        font-size: 16px;
                    }

                }
                .actions__button_blue {
                    background: #1673FF;
                    border: 2px solid #1673FF;
                    color: white;
                    width: 295px;
                    height: 58px;
                }
                .actions__button_white {
                    border: 2px solid rgba(255, 255, 255, 0.2);
                    box-sizing: border-box;
                    border-radius: 4px;
                    box-sizing: border-box;
                    border-radius: 4px;
                    background: transparent;
                    width: 233px;
                    height: 58px;
                    color: white;
                }

            }
        }
        .main__blank-token {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 50px;
            box-sizing: border-box;
            .blank-token__our-advantages {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                height: 456px;
                width: 683px;
                align-items: center;
                margin-top: 30px;

                .blank-token__advantage {
                    min-height: 85px;
                    max-height: max-content;
                    width: 195px;
                    margin: 15px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    cursor: pointer;
                    padding: 5px;
                    box-sizing: border-box;
                    transition: 0.4s all;
                    border-radius: 10px;

                    &:hover {
                        transform: scale(1.05);
                        box-shadow: 0 1px 5px 0 rgb(0 0 0 / 10%);
                    }


                    .advenatge__text {
                        margin-top: 10px;
                    }
                }
            }
        }
        .main__table-about-us {
            display: flex;
            flex-direction: column;
            align-items: center;

            .table-about-us__title {
                font-size: 12px;
                line-height: 24px;
                letter-spacing: 1.2px;
                text-transform: uppercase;
                color: #0A121E;
            }
            .table-about-us__subtitle {
                font-size: 58px;
                line-height: 68px;
                text-align: center;
                color: #0A121E;
                width: 840px;
                margin: 20px 0 30px;
            }
            table {
                border-collapse: collapse;
                width: max-content;
                tr {
                    display: flex;
                    th {
                        font-size: 1.5em;
                        font-family: 'Roboto-light';
                        width: 275px;
                        height: 134px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding-left: 15px;
                        box-sizing: border-box;

                        &:nth-child(3) {
                            background: #E7F1FB;
                        }

                        &:nth-child(4) {
                            background: #E7F1FB;
                        }
                    }
                    td {
                        border: 1px solid rgba(191, 204, 224, 0.5);
                        font-size: 1.5em;
                        font-family: 'Roboto-Normal';
                        width: 275px;
                        height: 79px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        padding-left: 15px;
                        box-sizing: border-box;

                        &:nth-child(3) {
                            background: #E7F1FB;
                        }

                        &:nth-child(4) {
                            background: #E7F1FB;
                        }
                    }
                    .table__td_long {
                        width: 490px;
                        background: #E7F1FB;
                        color: black;
                    }
                    .table__td_center {
                        justify-content: center;

                    }
                }

            }
        }
        .main__market {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 50px;
            box-sizing: border-box;

            .market__our-advantages {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                height: 456px;
                width: 683px;
                align-items: center;
                margin-top: 30px;
                margin-left: 70px;

                .market__advantage {
                    min-height: 85px;
                    max-height: max-content;
                    width: 195px;
                    margin: 15px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    cursor: pointer;
                    padding: 5px;
                    box-sizing: border-box;
                    transition: 0.4s all;
                    border-radius: 10px;

                    &:hover {
                        transform: scale(1.05);
                        box-shadow: 0 1px 5px 0 rgb(0 0 0 / 10%);
                    }


                    .advenatge__text {
                        margin-top: 10px;
                    }
                }

            }
        }
        .main__roadmap {
            display: flex;
            flex-direction: column;
            .roadmap__block {
                display: flex;
                width: 1248px;
                min-height: 331px;
                margin: 120px auto 150px;

                .roadmap__one-year {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    padding: 10px;
                    box-sizing: border-box;
                    width: 312px;

                    .one-year__achievements {
                        background: #E7F1FB;
                        width: 288px;
                        height: max-content;
                        padding: 15px;
                        box-sizing: border-box;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        margin: 4px 4px 0;

                        .achivements__text {
                            margin: 7px;
                            width: 222px;
                        }
                    }
                }

                #two-blocks {
                    padding-top: 36px;
                }
                #without-text {
                    margin-bottom: 16px;
                }
                #a-lot-of-text {
                    padding-top: 32px;
                }
            }
        }
        .main__our-team {
            background: #EAEEF2;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 125px 125px 55px;
            box-sizing: border-box;

            .our-team__title {
                font-family: 'Roboto-light';
                text-transform: uppercase;
                letter-spacing: 1.2px;
                font-size: 12px;
            }

            .our-team__subtitle {
                font-size: 58px;
                line-height: 68px;
                text-align: center;
                color: #0A121E;
                width: 757px;
                margin-top: 20px;
            }


            .our-team__members {
                margin-top: 50px;
                width: 1246px;
                height: 945px;
            }
        }
        .main__our-partners {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 75px;
            box-sizing: border-box;

            .our-partners__title {
                font-size: 12px;
                line-height: 24px;
                letter-spacing: 1.2px;
                text-transform: uppercase;
                color: #455A74;
                font-family: 'Roboto-Light';

                .our-partners__images {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 10px;
                    box-sizing: border-box;
                }
            }
        }
        .main__banner_bg-blue {
            @extend .main__banner;
            background: #1673FF;

            .banner__actions {
                .actions__button_blue {
                    background: rgba(10, 18, 30, 0.7);
                }
            }

        }
        footer {
            width: 100%;
            height: 625px;
            background: black;
            display: flex;
            justify-content: space-between;
            color: white;
            padding: 75px;
            box-sizing: border-box;

            .footer__title {
                .title__p {
                    width: 416px;
                    margin: 150px 0 0;
                }
            }

            .footer__links {
                display: flex;

                .links__column {
                    display: flex;
                    flex-direction: column;
                    margin: 0 50px;

                    .column__title {
                        font-size: 12px;
                        line-height: 24px;
                        letter-spacing: 1.2px;
                        text-transform: uppercase;
                        color: #74849B;
                        margin-bottom: 30px;
                    }

                    .column__link {
                        margin: 5px;
                        color: white;
                        font-family: 'Inter-Normal';
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
@media(max-width: 1024px) {
    main {
        width: 1024px;
        font-size: 1.8em;

        .title-block {
            width: 1024px !important;
            margin: 0 !important;
            box-sizing: border-box;
            padding: 85px 0 0 400px; 
            font-size: 1.3em;           

            .title__cap {
                width: 250px;
                margin-left: -50px !important;
                text-align: center;
                margin-right: 0 !important;
            }

            .title__subtitle {
                width: 270px;
                text-align: center;
                font-size: 50px !important;
                margin-left: -55px !important;
                margin-right: 0;
            }

            .title__text {
                margin-left: -40px !important;
                width: 280px !important;
                line-height: 40px;
            }

            .title-block__actions {
                margin-left: -50px !important;
                flex-direction: column;
                align-items: center;
                width: 300px;
                .actions__button {
                    margin-top: 5px !important;
                    margin-bottom: 5px !important;
                }
            }

            .title-block__ul {

                & > li {
                    margin: 10px 0 10px -20px !important;
                    width: 270px;
                    list-style: none;
                    font-family: 'Inter-Normal';

                    &::before {
                        content: "✔";
                        margin-right: 10px;
                        width: 5px;
                        height: 5px;
                        color: #1673FF;
                    }
                }
            }
        }
        .main__nav {
            max-width: 1024px !important;
            flex-direction: column;

            .nav__group-links {
                flex-direction: column;
                width: max-content !important;
            }
        }
        .main__description-block {
            flex-direction: column;
            width: 1024px;

            .main__account-preview {
                width: 300px !important;
                height: max-content !important;
                margin-left: 0 !important;

                .main__circle-svg {
                    width: 300px;
                    margin-left: -30px;
                }

                .description-block__img {
                    width: 320px !important;
                    top: 1780px !important;
                    left: 355px;
                    padding: 0 !important;

                    &:hover {
                        transform: none !important;
                        box-shadow: none !important;
                    }
                }
            }
        }
        .main__what-blank-does {
            .main__recommendations {
                flex-direction: column;
                width: 375px !important;

                .main__recommendation {
                    margin: 10px 0 !important;
                    width: 375px !important;
                    height: max-content !important;
                }
            }
        }
        .main__what-extension-gives {
            padding: 0 !important;

            & > svg {
                display: none;
            }

            .title__subtitle {
                margin-left: -55px !important;
            }
        }
        .main__privacy-by-design {
            flex-direction: column;
            margin: 0 !important;

            .title-block {
                .title__cap {
                    margin-left: -5px !important;
                }
                .title__subtitle {
                    margin-left: -5px !important;

                }
                .title__text {
                    margin-left: -15px !important;
                    width: max-content;
                }
            }

            .privacy-by-design__img {
                width: 300px !important;
                top: 1250px !important;
                left: 1px;
                padding: 0 !important;
                margin: 0 !important;

                &:hover {
                    transform: none !important;
                    box-shadow: none !important;
                }

            }
        }
        
        .main__banner {
            width: 1024px;

            .banner__subtitle {
                text-align: center;
                width: 425px !important;
                font-size: 20px !important;
                line-height: 30px !important;
                margin-left: -10px;
            }

            .banner__text {
                text-align: center;
            }
            .banner__phrase {
                margin-left: 0 !important;
            }
            .banner__actions {
                flex-direction: column;
                align-items: center;
                .actions__button {
                    margin: 10px 0 !important;
                }
            }
        }
        .main__blank-token {
            flex-direction: column;
            padding: 0 !important;

            .blank-token__our-advantages {
                flex-direction: column !important;
                width: 425px !important;
                flex-wrap: nowrap !important;

                .blank-token__advantage {
                    &>svg {
                        display: none;
                    }
                }
            }
        }
        .main__table-about-us {
            margin-top: 180px;

            .table-about-us__subtitle {
                width: 1024px !important;
            }

            .table-about-us__table {
                width: 1024px !important;
                overflow: auto;
            }
        }
        .main__market {
            padding: 0 !important;
            flex-direction: column;

            .market__our-advantages {
                flex-direction: column !important;
                flex-wrap: nowrap !important;
                margin: 0 !important;
                width: 1024px !important;
                height: max-content !important;

                .market__advantage {
                    &>svg {
                        width: 55px !important;
                    }
                }
            }
        }
        .main__roadmap {
            margin-top: 85px;

            .roadmap__block {
                overflow: auto;
                width: 768px !important;
            }
        }
        .main__our-team {
            .our-team__subtitle {
                width: 768px !important;
            }
            .our-team__members {
                width: 768px !important;
                overflow: auto;
            }
        }
        .main__our-partners {
            .our-partners__images {
                &>img {
                    width: 355px;
                }
            }
        }
        footer {

            flex-direction: column;
            padding: 15px !important;
            height: max-content !important;

            .title__p {
                width: 300px !important;
                margin: 50px 0 !important;
            }

            .footer__links {
                flex-direction: column;

                .links__column {
                    margin: 0 auto !important;
                    text-align: center;

                    .column__title {
                        margin-bottom: 0 !important;
                    }
                }
            }
        }
    }
}


@media(max-width: 768px) {
    main {
        width: 768px;
        font-size: 1.3em;

        .title-block {
            width: 728px !important;
            margin: 0 !important;
            box-sizing: border-box;
            padding: 85px 0 0 255px; 
            font-size: 1.3em;           

            .title__cap {
                width: 250px;
                margin-left: -50px !important;
                text-align: center;
                margin-right: 0 !important;
            }

            .title__subtitle {
                width: 270px;
                text-align: center;
                font-size: 50px !important;
                margin-left: -55px !important;
                margin-right: 0;
            }

            .title__text {
                margin-left: -40px !important;
                width: 280px !important;
            }

            .title-block__actions {
                margin-left: -50px !important;
                flex-direction: column;
                align-items: center;
                width: 300px;
                .actions__button {
                    margin-top: 5px !important;
                    margin-bottom: 5px !important;
                }
            }

            .title-block__ul {

                & > li {
                    margin: 10px 0 10px -20px !important;
                    width: 270px;
                    list-style: none;
                    font-family: 'Inter-Normal';

                    &::before {
                        content: "✔";
                        margin-right: 10px;
                        width: 5px;
                        height: 5px;
                        color: #1673FF;
                    }
                }
            }
        }
        .main__nav {
            max-width: 768px !important;
            flex-direction: column;

            .nav__group-links {
                flex-direction: column;
                width: max-content !important;
            }
        }
        .main__description-block {
            flex-direction: column;
            width: 768px;

            .main__account-preview {
                width: 300px !important;
                height: max-content !important;
                margin-left: 0 !important;

                .main__circle-svg {
                    width: 300px;
                    margin-left: -30px;
                }

                .description-block__img {
                    width: 320px !important;
                    top: 1280px !important;
                    left: 195px;
                    padding: 0 !important;

                    &:hover {
                        transform: none !important;
                        box-shadow: none !important;
                    }
                }
            }
        }
        .main__what-blank-does {
            .main__recommendations {
                flex-direction: column;
                width: 375px !important;

                .main__recommendation {
                    margin: 10px 0 !important;
                    width: 375px !important;
                }
            }
        }
        .main__what-extension-gives {
            padding: 0 !important;

            & > svg {
                display: none;
            }

            .title__subtitle {
                margin-left: -55px !important;
            }
        }
        .main__privacy-by-design {
            flex-direction: column;
            margin: 0 !important;

            .title-block {
                .title__cap {
                    margin-left: -5px !important;
                }
                .title__subtitle {
                    margin-left: -5px !important;

                }
                .title__text {
                    margin-left: -15px !important;
                    width: max-content;
                }
            }

            .privacy-by-design__img {
                width: 300px !important;
                top: 1250px !important;
                left: 1px;
                padding: 0 !important;
                margin: 0 !important;

                &:hover {
                    transform: none !important;
                    box-shadow: none !important;
                }

            }
        }
        
        .main__banner {
            width: 768px;

            .banner__subtitle {
                text-align: center;
                width: 425px !important;
                font-size: 20px !important;
                line-height: 30px !important;
                margin-left: -10px;
            }

            .banner__text {
                text-align: center;
            }
            .banner__phrase {
                margin-left: 0 !important;
            }
            .banner__actions {
                flex-direction: column;
                align-items: center;
                .actions__button {
                    margin: 10px 0 !important;
                }
            }
        }
        .main__blank-token {
            flex-direction: column;
            padding: 0 !important;

            .blank-token__our-advantages {
                flex-direction: column !important;
                width: 425px !important;
                flex-wrap: nowrap !important;

                .blank-token__advantage {
                    &>svg {
                        display: none;
                    }
                }
            }
        }
        .main__table-about-us {
            margin-top: 180px;

            .table-about-us__subtitle {
                width: 425px !important;
            }

            .table-about-us__table {
                width: 768px !important;
                overflow: auto;
            }
        }
        .main__market {
            padding: 0 !important;
            flex-direction: column;

            .market__our-advantages {
                flex-direction: column !important;
                flex-wrap: nowrap !important;
                margin: 0 !important;
                width: 768px !important;

                .market__advantage {
                    &>svg {
                        width: 55px !important;
                    }
                }
            }
        }
        .main__roadmap {
            margin-top: 85px;

            .roadmap__block {
                overflow: auto;
                width: 768px !important;
            }
        }
        .main__our-team {
            .our-team__subtitle {
                width: 768px !important;
            }
            .our-team__members {
                width: 768px !important;
                overflow: auto;
            }
        }
        .main__our-partners {
            .our-partners__images {
                &>img {
                    width: 355px;
                }
            }
        }
        footer {

            flex-direction: column;
            padding: 15px !important;
            height: max-content !important;

            .title__p {
                width: 300px !important;
                margin: 50px 0 !important;
            }

            .footer__links {
                flex-direction: column;

                .links__column {
                    margin: 0 auto !important;
                    text-align: center;

                    .column__title {
                        margin-bottom: 0 !important;
                    }
                }
            }
        }
    }
}

@media(max-width: 425px) {
    main {
        width: 425px;

        .title-block {
            width: 405px !important;
            margin: 0 !important;
            box-sizing: border-box;
            padding: 85px 0 0 125px ;

            .title__cap {
                width: 250px;
                margin-left: -50px !important;
                text-align: center;
                margin-right: 0 !important;
            }

            .title__subtitle {
                width: 270px;
                text-align: center;
                font-size: 50px !important;
                margin-left: -55px !important;
                margin-right: 0;
            }

            .title__text {
                margin-left: -40px !important;
                width: 280px !important;
            }

            .title-block__actions {
                margin-left: -50px !important;
                flex-direction: column;
                align-items: center;
                width: 300px;
                .actions__button {
                    margin-top: 5px !important;
                    margin-bottom: 5px !important;
                }
            }

            .title-block__ul {

                & > li {
                    margin: 10px 0 10px -20px !important;
                    width: 270px;
                    list-style: none;
                    font-family: 'Inter-Normal';

                    &::before {
                        content: "✔";
                        margin-right: 10px;
                        width: 5px;
                        height: 5px;
                        color: #1673FF;
                    }
                }
            }
        }
        .main__nav {
            max-width: 425px !important;
            flex-direction: column;

            .nav__group-links {
                flex-direction: column;
                width: max-content !important;


            }
        }
        .main__description-block {
            flex-direction: column;
            width: 425px;

            .main__account-preview {
                width: 300px !important;
                height: max-content !important;
                margin-left: 0 !important;

                .main__circle-svg {
                    width: 300px;
                    margin-left: -30px;
                }

                .description-block__img {
                    width: 320px !important;
                    top: 1250px !important;
                    left: 65px;
                    padding: 0 !important;

                    &:hover {
                        transform: none !important;
                        box-shadow: none !important;
                    }
                }
            }
        }
        .main__what-blank-does {
            .main__recommendations {
                flex-direction: column;
                width: 375px !important;

                .main__recommendation {
                    margin: 10px 0 !important;
                    width: 375px !important;
                }
            }
        }
        .main__what-extension-gives {
            padding: 0 !important;

            & > svg {
                display: none;
            }

            .title__subtitle {
                margin-left: -55px !important;
            }
        }
        .main__privacy-by-design {
            flex-direction: column;
            margin: 0 !important;

            .title-block {
                .title__cap {
                    margin-left: -5px !important;
                }
                .title__subtitle {
                    margin-left: -5px !important;

                }
                .title__text {
                    margin-left: -15px !important;
                    width: max-content;
                }
            }

            .privacy-by-design__img {
                width: 300px !important;
                top: 1250px !important;
                left: 1px;
                padding: 0 !important;
                margin: 0 !important;

                &:hover {
                    transform: none !important;
                    box-shadow: none !important;
                }

            }
        }
        
        .main__banner {
            width: 425px;

            .banner__subtitle {
                text-align: center;
                width: 425px !important;
                font-size: 20px !important;
                line-height: 30px !important;
                margin-left: -10px;
            }

            .banner__text {
                text-align: center;
            }
            .banner__phrase {
                margin-left: 0 !important;
            }
            .banner__actions {
                flex-direction: column;
                align-items: center;
                .actions__button {
                    margin: 10px 0 !important;
                }
            }
        }
        .main__blank-token {
            flex-direction: column;
            padding: 0 !important;

            .blank-token__our-advantages {
                flex-direction: column !important;
                width: 425px !important;
                flex-wrap: nowrap !important;

                .blank-token__advantage {
                    &>svg {
                        display: none;
                    }
                }
            }
        }
        .main__table-about-us {
            margin-top: 180px;

            .table-about-us__subtitle {
                width: 425px !important;
            }

            .table-about-us__table {
                width: 425px !important;
                overflow: auto;
            }
        }
        .main__market {
            padding: 0 !important;
            flex-direction: column;

            .market__our-advantages {
                flex-direction: column !important;
                flex-wrap: nowrap !important;
                margin: 0 !important;
                width: 425px !important;

                .market__advantage {
                    &>svg {
                        width: 55px !important;
                    }
                }
            }
        }
        .main__roadmap {
            margin-top: 85px;

            .roadmap__block {
                overflow: auto;
                width: 425px !important;
            }
        }
        .main__our-team {
            .our-team__subtitle {
                width: 425px !important;
            }
            .our-team__members {
                width: 425px !important;
                overflow: auto;
            }
        }
        .main__our-partners {
            .our-partners__images {
                &>img {
                    width: 355px;
                }
            }
        }
        footer {
            flex-direction: column;
            padding: 15px !important;
            height: max-content !important;

            .title__p {
                width: 300px !important;
                margin: 50px 0 !important;
            }

            .footer__links {
                flex-direction: column;

                .links__column {
                    margin: 0 auto !important;
                    text-align: center;

                    .column__title {
                        margin-bottom: 0 !important;
                    }
                }
            }
        }
    }
}

@media(max-width: 375px) {
    main {
        width: 375px;

        .title-block {
            width: 355px !important;
            margin: 0 !important;
            box-sizing: border-box;
            padding: 85px 0 0 75px ;

            .title__cap {
                width: 250px;
                margin-left: -50px !important;
                text-align: center;
                margin-right: 0 !important;
            }

            .title__subtitle {
                width: 270px;
                text-align: center;
                font-size: 50px !important;
                margin-left: -55px !important;
                margin-right: 0;
            }

            .title__text {
                margin-left: -40px !important;
                width: 280px !important;
            }

            .title-block__actions {
                margin-left: -50px !important;
                flex-direction: column;
                align-items: center;
                width: 300px;
                .actions__button {
                    margin-top: 5px !important;
                    margin-bottom: 5px !important;
                }
            }

            .title-block__ul {

                & > li {
                    margin: 10px 0 10px -20px !important;
                    width: 270px;
                    list-style: none;
                    font-family: 'Inter-Normal';

                    &::before {
                        content: "✔";
                        margin-right: 10px;
                        width: 5px;
                        height: 5px;
                        color: #1673FF;
                    }
                }
            }
        }
        .main__nav {
            max-width: 355px !important;
            flex-direction: column;

            .nav__group-links {
                flex-direction: column;
                width: max-content !important;
                font-size: 1.4em;
            }
        }
        .main__description-block {
            flex-direction: column;
            width: 375px;

            .main__account-preview {
                width: 300px !important;
                height: max-content !important;
                margin-left: 0 !important;

                .main__circle-svg {
                    width: 300px;
                    margin-left: -30px;
                }

                .description-block__img {
                    width: 320px !important;
                    top: 1250px !important;
                    left: 25px;
                    padding: 0 !important;

                    &:hover {
                        transform: none !important;
                        box-shadow: none !important;
                    }
                }
            }
        }
        .main__what-blank-does {
            .main__recommendations {
                flex-direction: column;
                width: 375px !important;

                .main__recommendation {
                    margin: 10px 0 !important;
                    width: 375px !important;
                }
            }
        }
        .main__what-extension-gives {
            padding: 0 !important;

            & > svg {
                display: none;
            }

            .title__subtitle {
                margin-left: -55px !important;
            }
        }
        .main__privacy-by-design {
            flex-direction: column;
            margin: 0 !important;

            .title-block {
                .title__cap {
                    margin-left: -5px !important;
                }
                .title__subtitle {
                    margin-left: -5px !important;

                }
                .title__text {
                    margin-left: -15px !important;
                    width: max-content;
                }
            }

            .privacy-by-design__img {
                width: 375px !important;
                top: 1250px !important;
                left: 1px;
                padding: 0 !important;
                margin: 0 !important;

                &:hover {
                    transform: none !important;
                    box-shadow: none !important;
                }

            }
        }
        
        .main__banner {
            width: 375px;

            .banner__subtitle {
                text-align: center;
                width: 375px !important;
                font-size: 20px !important;
                line-height: 30px !important;
                margin-left: -10px;
            }

            .banner__text {
                text-align: center;
            }
            .banner__phrase {
                margin-left: 0 !important;
            }
            .banner__actions {
                flex-direction: column;
                align-items: center;
                .actions__button {
                    margin: 10px 0 !important;
                }
            }
        }
        .main__blank-token {
            flex-direction: column;
            padding: 0 !important;

            .blank-token__our-advantages {
                flex-direction: column !important;
                width: 375px !important;
                flex-wrap: nowrap !important;

                .blank-token__advantage {
                    &>svg {
                        display: none;
                    }
                }
            }
        }
        .main__table-about-us {
            margin-top: 180px;

            .table-about-us__subtitle {
                width: 375px !important;
            }

            .table-about-us__table {
                width: 375px !important;
                overflow: auto;
            }
        }
        .main__market {
            padding: 0 !important;
            flex-direction: column;

            .market__our-advantages {
                flex-direction: column !important;
                flex-wrap: nowrap !important;
                margin: 0 !important;
                width: 375px !important;

                .market__advantage {
                    &>svg {
                        width: 55px !important;
                    }
                }
            }
        }
        .main__roadmap {
            margin-top: 85px;

            .roadmap__block {
                overflow: auto;
                width: 375px !important;
            }
        }
        .main__our-team {
            .our-team__subtitle {
                width: 375px !important;
            }
            .our-team__members {
                width: 375px !important;
                overflow: auto;
            }
        }
        .main__our-partners {
            .our-partners__images {
                &>img {
                    width: 355px;
                }
            }
        }
        footer {
            flex-direction: column;
            padding: 15px !important;
            height: max-content !important;

            .title__p {
                width: 300px !important;
                margin: 50px 0 !important;
            }

            .footer__links {
                flex-direction: column;

                .links__column {
                    margin: 0 auto !important;
                    text-align: center;

                    .column__title {
                        margin-bottom: 0 !important;
                    }
                }
            }
        }
    }
}

@media(max-width: 320px) {
    main {
        width: 320px;

        .title-block {
            width: 300px !important;
            margin: 0 !important;
            box-sizing: border-box;
            padding: 85px 0 0 45px ;

            .title__cap {
                width: 250px;
                margin-left: -50px !important;
                text-align: center;
                margin-right: 0 !important;
            }

            .title__subtitle {
                width: 270px;
                text-align: center;
                font-size: 50px !important;
                margin-left: -55px !important;
                margin-right: 0;
            }

            .title__text {
                margin-left: -40px !important;
                width: 280px !important;
            }

            .title-block__actions {
                margin-left: -50px !important;
                flex-direction: column;
                align-items: center;
                width: 300px;
                .actions__button {
                    margin-top: 5px !important;
                    margin-bottom: 5px !important;
                }
            }

            .title-block__ul {

                & > li {
                    margin: 10px 0 10px -20px !important;
                    width: 270px;
                    list-style: none;
                    font-family: 'Inter-Normal';

                    &::before {
                        content: "✔";
                        margin-right: 10px;
                        width: 5px;
                        height: 5px;
                        color: #1673FF;
                    }
                }
            }
        }
        .main__nav {
            max-width: 320px !important;
            flex-direction: column;

            .nav__group-links {
                flex-direction: column;
                width: max-content !important;
                font-size: 1.4em;
            }
        }
        .main__description-block {
            flex-direction: column;
            width: 320px;

            .main__account-preview {
                width: 300px !important;
                height: max-content !important;
                margin-left: 0 !important;

                .main__circle-svg {
                    width: 300px;
                    margin-left: -30px;
                }

                .description-block__img {
                    width: 320px !important;
                    top: 1250px !important;
                    left: 1px;
                    padding: 0 !important;

                    &:hover {
                        transform: none !important;
                        box-shadow: none !important;
                    }
                }
            }
        }
        .main__what-blank-does {
            .main__recommendations {
                flex-direction: column;
                width: 320px !important;

                .main__recommendation {
                    margin: 10px 0 !important;
                    width: 320px !important;
                }
            }
        }
        .main__what-extension-gives {
            padding: 0 !important;

            & > svg {
                display: none;
            }

            .title__subtitle {
                margin-left: -55px !important;
            }
        }
        .main__privacy-by-design {
            flex-direction: column;
            margin: 0 !important;

            .title-block {
                .title__cap {
                    margin-left: -5px !important;
                }
                .title__subtitle {
                    margin-left: -5px !important;

                }
                .title__text {
                    margin-left: -15px !important;
                    width: max-content;
                }
            }

            .privacy-by-design__img {
                width: 320px !important;
                top: 1250px !important;
                left: 1px;
                padding: 0 !important;
                margin: 0 !important;

                &:hover {
                    transform: none !important;
                    box-shadow: none !important;
                }

            }
        }
        
        .main__banner {
            width: 320px;

            .banner__subtitle {
                text-align: center;
                width: 300px !important;
                font-size: 20px !important;
                line-height: 30px !important;
                margin-left: -10px;
            }

            .banner__text {
                text-align: center;
            }
            .banner__phrase {
                margin-left: 0 !important;
            }
            .banner__actions {
                flex-direction: column;
                align-items: center;
                .actions__button {
                    margin: 10px 0 !important;
                }
            }
        }
        .main__blank-token {
            flex-direction: column;
            padding: 0 !important;

            .blank-token__our-advantages {
                flex-direction: column !important;
                width: 320px !important;
                flex-wrap: nowrap !important;

                .blank-token__advantage {
                    &>svg {
                        display: none;
                    }
                }
            }
        }
        .main__table-about-us {
            margin-top: 180px;

            .table-about-us__subtitle {
                width: 320px !important;
            }

            .table-about-us__table {
                width: 320px !important;
                overflow: auto;
            }
        }
        .main__market {
            padding: 0 !important;
            flex-direction: column;

            .market__our-advantages {
                flex-direction: column !important;
                flex-wrap: nowrap !important;
                margin: 0 !important;
                width: 320px !important;

                .market__advantage {
                    &>svg {
                        width: 55px !important;
                    }
                }
            }
        }
        .main__roadmap {
            margin-top: 85px;

            .roadmap__block {
                overflow: auto;
                width: 320px !important;
            }
        }
        .main__our-team {
            .our-team__subtitle {
                width: 300px !important;
            }
            .our-team__members {
                width: 320px !important;
                overflow: auto;
            }
        }
        .main__our-partners {
            .our-partners__images {
                &>img {
                    width: 300px;
                }
            }
        }
        footer {
            flex-direction: column;
            padding: 15px !important;
            height: max-content !important;

            .title__p {
                width: 300px !important;
                margin: 50px 0 !important;
            }

            .footer__links {
                flex-direction: column;

                .links__column {
                    margin: 0 auto !important;
                    text-align: center;

                    .column__title {
                        margin-bottom: 0 !important;
                    }
                }
            }
        }
    }
}
